logs/
.log

# Luckperms
**/luckperms/

# bStats
**/bStats/

# Fabric Server
.fabric/
cache/
config/*
datapacks/
libraries/
versions/
world/
eula.txt
*.json

# Test Server
test-server/

# minimotd
!config/MiniMOTD

# distant horizons
!config/DistantHorizons.toml