logs/
.log

# Luckperms
**/luckperms/

# bStats
**/bStats/

# Fabric
.fabric/
cache/
config/*
datapacks/
libraries/
versions/
world/
eula.txt
*.json

# minimotd
!config/MiniMOTD

# distant horizons
!config/DistantHorizons.toml